name: Compare version bumps

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  compare:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Calculate version and create tag
        id: tag
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          TAG_PREFIX: v
          FORCE_WITHOUT_CHANGES: true
          DEFAULT_BUMP: minor                # default bump is minor
          MAJOR_STRING_TOKEN: "#major"       # triggers major bump
          PATCH_STRING_TOKEN: "#patch"       # triggers patch bump
          MINOR_STRING_TOKEN: "#minor"       # optional: minor bump override



          
